<div class="card ventana" >
  <form class="divinput" [formGroup]="formulario">
    <h3 class="titulo">Agregar Redes Sociales </h3>
    <p class="text-center texto text-black">Seleccione una Red Social</p>
    <select  formControlName="nombre" class="input">
      <option *ngFor="let redes of redesSociales" value="{{redes}}">
        {{redes}}
      </option>
    </select>
    <div *ngIf="formulario.controls.nombre.invalid && (formulario.controls.nombre.dirty || formulario.controls.nombre.touched)"
         class="alert alert-danger alertapadre">
      <div *ngIf="(formulario.controls.nombre.errors)?.['required']">
        El campo red es obligatorio.
      </div>
    </div>
    <p class="text-center texto text-black">Url del perfil</p>
    <input type="url" class="input" formControlName="url">
    <div *ngIf="formulario.controls.url.invalid && (formulario.controls.url.dirty || formulario.controls.url.touched)"
         class="alert alert-danger alertapadre">
      <div *ngIf="(formulario.controls.url.errors)?.['required']">
        El campo url es obligatorio.
      </div>
    </div>
    <div class="divinputboton" >
      <button type="button" class="btn btn-primary m-2" (click)="guardar()" [disabled]="formulario.status=='INVALID'">Guardar</button>
      <button type="button" class="btn btn-danger m-2" (click)="cerrar()">Cancelar</button>
    </div>
  </form>
</div>
