<div class="container-fluid">
  <div class="card ventana">
    <form  [formGroup]="formulario" class="divinput">
      <h3 class="titulo"> Editar Persona</h3>
      <div class="divtiempo">
        <p class="text-center texto text-black labeltiempoizquierdo">Nombre *</p>
        <input type="text" class="input inputtiempoizquiero" formControlName="nombre">
        <div *ngIf="formulario.controls.nombre.invalid && (formulario.controls.nombre.dirty || formulario.controls.nombre.touched)"
             class="alert alert-danger alertapadre">
          <div *ngIf="(formulario.controls.nombre.errors)?.['required']">
            El campo nombre es obligatorio.
          </div>
        </div>
        <p class="text-center texto text-black labeltiempoderecho">Apellido *</p>
        <input type="text" class="input inputtiempoderecho" formControlName="apellido">
        <div *ngIf="formulario.controls.apellido.invalid && (formulario.controls.apellido.dirty || formulario.controls.apellido.touched)"
             class="alert alert-danger alertapadre">
          <div *ngIf="(formulario.controls.apellido.errors)?.['required']">
            El campo apellido es obligatorio.
          </div>
        </div>
      </div>
      <p class="text-center texto text-black">Titulo</p>
      <input type="text" class="input" formControlName="titulo">
      <p class="text-center texto text-black">Lugar *</p>
      <input type="text" class="input" formControlName="lugar">
      <div *ngIf="formulario.controls.lugar.invalid && (formulario.controls.lugar.dirty || formulario.controls.lugar.touched)"
           class="alert alert-danger alertapadre">
        <div *ngIf="(formulario.controls.lugar.errors)?.['required']">
          El campo lugar es obligatorio.
        </div>
      </div>
      <p class="text-center texto text-black">Email *</p>
      <input type="text" class="input" formControlName="email">
      <div *ngIf="formulario.controls.email.invalid && (formulario.controls.email.dirty || formulario.controls.email.touched)"
           class="alert alert-danger alertapadre">
        <div *ngIf="(formulario.controls.email.errors)?.['required']">
          El campo email es obligatorio.
        </div>
        <div *ngIf="(formulario.controls.email.errors)?.['email']">
          El email es invalido.
        </div>

      </div>
      <p class="text-center texto text-black">Imagen de Portada</p>
      <ul class="inputperfil">
        <li>
          <input type="file" accept=".jpeg, .png" class="input" formControlName="urlImagenPortada" #inputImagenPortada (change)="processFilePortada(inputImagenPortada)">
        </li>
        <li class="progress progreso" *ngIf="banProgresoPortada">
          <div class="progress-bar" [class.bg-success]="progresoTerminadoPortada" role="progressbar" style="width:{{porcentajePortada}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{porcentajePortada}}</div>
        </li>
      </ul>
      <p class="text-center texto text-black">Imagen de Perfil</p>
      <ul class="inputperfil">
        <li><input type="file" accept="image/*" class="input" formControlName="urlImagenPerfil" #inputImagenPerfil (change)="processFilePerfil(inputImagenPerfil)"></li>
        <li><div class="progress progreso" *ngIf="banProgresoPerfil">
          <div class="progress-bar" [class.bg-success]="progresoTerminadoPerfil" role="progressbar" style="width: {{porcentajePerfil}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{porcentajePerfil}}</div>
        </div>
        </li>
      </ul>
      <div class="divinputboton" >
        <button type="button" class="btn btn-primary m-2" (click)="guardar()" [disabled]="formulario.status=='INVALID' || !formulario.touched">Guardar</button>
        <button type="button" class="btn btn-danger m-2" (click)="cerrarModal()">Cancelar</button>
      </div>
    </form>
  </div>

</div>
