@media (min-width: 768px) {
  .titulo{
    text-align:center;
    margin: 2px auto;
    font-weight: bold;
    font-size: 1.4em;
  }
  .ventana{
    height: 500px;
    width: 600px;

  }
  .divinput {
    margin: 6px;
    display: flex;
    flex-direction: column;
    top: 500px;
  }
  .texto{
    width: 65%;
    margin: 3px auto;
  }



  .divinputboton {
    display: inline-flex;
    margin: 10px auto;
  }
  .inputperfil{
    display: inline-flex;
    position: relative;
    width: 60%;
    height: 35px;
    margin:0% 9%;
    list-style: none;
  }
  .progreso{
    position: absolute;
    left: 68% ;
    top: 10%;
    width: 50%;
  }
  .alertapadre{
    display: flex;
    width: 60%;
    height: 7%;
    font-size: 13px;
    align-items: center;
    margin: 0px auto;
    justify-content: center;
  }

}
@media (min-width: 992px) {
  .title{
    text-align:center;
    margin: 4px auto;
    font-weight: bold;
  }
  .ventana{
    height: 300px;
    width: 600px;

  }
  .divinput {
    margin: 8px;
    display: flex;
    flex-direction: column;
  }
  .input{
    width: 65%;
    height: 35px;
    margin:0px auto;
  }
  .texto{
    width: 65%;
    margin: 5px auto;
  }
  .divtiempo{
    position: relative;
    margin : 0px auto;
    height: 85px;
    width: 65%;

  }
  .inputtiempoizquiero{
    position: absolute;
    left: 0%;
    top:50px;
    width: 44%;
    height: 35px;
  }
  .inputtiempoderecho{
    position: absolute;
    left: 250px;
    top:50px;
    width: 44%;
    height: 35px;

  }
  .labeltiempoizquierdo{
    position: absolute;
    left: 0%;
    top:0%;
    width: 50%;
  }
  .labeltiempoderecho{
    position: absolute;
    left: 220px;
    top:0%;
    width: 50%;
    height: 40px;
  }
  .divinputboton {
    display: inline-flex;
    margin: 10px auto;
  }
  .inputperfil{
    display: inline-flex;
    position: relative;
    width: 60%;
    height: 35px;
    margin:0% 9%;
    list-style: none;
  }
  .progreso{
    position: absolute;
    left: 68% ;
    top: 10%;
    width: 50%;
  }
  .alertapadre{
    display: flex;
    width: 60%;
    height: 5%;
    font-size: 15px;
    align-items: center;
    margin: 0px auto;
    justify-content: center;
  }

}
