.divinput {
  text-align:center;
  margin: 25px auto;
}
.textarear{

  width: 80%;
  height: 160px;
}
.title{
  text-align:center;
  margin: 25px auto;
}
.ventana{
  height: 350px;
  width: 350px;

}
