@media (min-width: 768px){
  .ventana{
    height: 520px;
    width: 600px;
  }
  .divinput {
    margin: 7px;
    display: flex;
    flex-direction: column;
  }
  .titulo{
    text-align:center;
    margin: 2px auto;
    font-weight: bold;
  }
  .texto{
    width: 65%;
    margin: 4px auto;
  }
  .input{
    width: 68%;
    height: 25px;
    margin:0px auto;
  }

  .divtiempo{
    position: relative;
    margin : 0px auto;
    height: 80px;
    width: 70%;
  }
  .inputtiempoizquiero{
    position: absolute;
    left: 15px;
    top:40px;
    width: 40%;
    height: 30px;
  }
  .inputtiempoderecho {
    position: absolute;
    left: 240px;
    top: 40px;
    width: 40%;
    height: 30px;
  }

  .labeltiempoizquierdo{
    position: absolute;
    left: 0%;
    top:0%;
    width: 35%;

  }
  .labeltiempoderecho{
    position: absolute;
    left: 200px;
    top:0%;
    width: 55%;
    height: 40px;

  }
  .divinputboton {
    display: inline-flex;
    margin: 8px auto;
  }

  .inputperfil{
    display: inline-flex;
    position: relative;
    width: 60%;
    height: 25px;
    margin:0% 9%;
    list-style: none;
  }
  .progreso{
    position: absolute;
    left: 74% ;
    top: 20%;
    width: 50%;
  }
  .alertapadre{
    display: flex;
    width: 60%;
    height: 8%;
    font-size: 13px;
    align-items: center;
    margin: 0px auto;
    justify-content: center;
  }

}
@media (min-width: 992px) {
  .title{
    text-align:center;
    margin: 4px auto;
    font-weight: bold;
  }
  .ventana{
    height: 570px;
    width: 710px;
  }
  .divinput {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  .input{
    width: 65%;
    height: 35px;
    margin:0px auto;
  }
  .texto{
    width: 65%;
    margin: 6px auto;
  }
  .divtiempo{
    position: relative;
    margin : 0px auto;
    height: 85px;
    width: 65%;

  }
  .inputtiempoizquiero{
    position: absolute;
    left: 20px;
    top:50px;
    width: 35%;
    height: 35px;
  }
  .inputtiempoderecho{
    position: absolute;
    left: 250px;
    top:50px;
    width: 35%;
    height: 35px;

  }
  .labeltiempoizquierdo{
    position: absolute;
    left: 0%;
    top:0%;
    width: 35%;

  }
  .labeltiempoderecho{
    position: absolute;
    left: 220px;
    top:0%;
    width: 35%;
    height: 40px;

  }
  .divinputboton {
    display: inline-flex;
    margin: 13px auto;

  }

  .inputperfil{
    display: inline-flex;
    position: relative;
    width: 60%;
    height: 35px;
    margin:0% 9%;
    list-style: none;
  }
  .progreso{
    position: absolute;
    left: 68% ;
    top: 10%;
    width: 50%;
  }
  .alertapadre{
    display: flex;
    width: 60%;
    height: 5%;
    font-size: 15px;
    align-items: center;
    margin: 0px auto;
    justify-content: center;
  }

}







